@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;700&family=Kavivanar&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Baloo Thambi 2", cursive;
}
body {
    padding: 10px 20px;
    line-height: 1.6;
    padding-top: 4rem;
  background:#f9f9f9;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.header-nav a {
  color: #a7a7a7;
  margin-right: 10px;
  font-size: 0.9rem;
}

.header-nav a.active {
  color: #222;
}

.site-footer {
  margin-top: 1rem;
  border-top: 1px dotted #adadad;
  text-align: center;
  color: #999;
  font-size: 0.75rem;
}
a {
  text-decoration: none;
  color: #222;
}
h1.siteTitle {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
    letter-spacing: 5px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
.header-nav ul {
  text-align: center;
  justify-content: center;
}
.lister {
    column-count: 4;
    column-gap: 0.5em;
    /* max-width: 980px; */
    /* margin: auto; */
    /* width: 100%; */
}
.postItem {
  float: left;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 1%;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.postCont {
  padding: 0 1rem 1rem 1rem;
}
.postCont h3 {
    font-size: 1rem;
  margin-bottom:0;
    overflow-wrap: break-word !important;
    white-space: pre-wrap;
}

.desc {
    font-size: .9rem;
    opacity: .8;
    margin-top: -0.75rem;
    overflow-wrap: break-word !important;
    white-space: pre-wrap;
  display:none;
}
img.mainImg {
  width: 100%;
  border-radius: 10px;
}
.topMenuBar {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index:999;
}
.stickMenuHolder {
  position: relative;
  z-index: 99;
}

.stickMenu {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #f3f3f3;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.stickMenu ul {
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.stickMenu ul li,
.stickMenu ul li a {
  display: grid;
  text-align: center;
  font-size: 0.8rem;
}
.stickMenu ul li img {
  margin: auto;
}
.swiper {
    margin-top: 1.25rem;
}
.promoItem {
    text-align: center;
    background: #ffffff;
    padding: 0.125rem;
    border-radius: 5px;
    transform: scale(0.95);
    border: 1px solid #d7d7d7;
}
@media (max-width: 768.98px) {
  .lister {
    column-count: 1;
}
  .postItem {
    width: 100%;
    float: unset;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    margin: 0%;
    margin-bottom: 1.25rem;
  }
}
