.slideToggleMenu {
  position: absolute;
  height: 40px;
  top: 1rem;
  right: 1rem;
  z-index:101;
}

.toggleButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0rem;
  right: 0rem;
  left: unset;
  float: right;
  color: #fff;
  width: auto;
  text-align: right;
  background: #ffffff;
  padding: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transform: translateX(100vw);
  height: 100vh;
  width: 60vw;
    z-index: 100;
padding-top:5rem;
  transition: all 0.3s;

}

.isOpen {
  transform: translateX(0px);
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.menu a:hover {
  background: #f6f6f6;
}
